.textGradient {
  background: -webkit-linear-gradient(45deg, #fff 60%, #4762aa 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cardGradient {
  background-image: linear-gradient(90deg, #171d33, #171d3300);
}
