body {
  margin: 0;
  padding: 0 5%;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #12056a, #09092e, #000617);
  color: #fff;
}
