@font-face {
  font-family: "DMSans";
  src: url("./assets/fonts/DMSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "DMSans", sans-serif !important;
}

body {
  margin: 0;
  padding: 0 5%;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(
    to bottom right,
    #12056a 0%,
    #09092e 30%,
    #000617 100%
  );
  color: #fff;
}
